<template>
  <div>
    <div class="TopContainer">
      <router-link :to="{ name: 'TutorialCreate' }"><input type="button" class="Button PrimaryButton" value="+ Add Tutorial"/> </router-link>
      <input type="search" placeholder="Search by Name...">
    </div>
    <table class="TutorialsTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(tutorialItem, index) in tutorials" :key="index">
          <td>{{tutorialItem.name}}</td>
          <td>{{tutorialItem.description}}</td>
          <td>Rs {{tutorialItem.price}}</td>
          <td>
            <router-link :to="{ name: 'TutorialEdit', params: {id: tutorialItem.id} }"><input type="button" value="Edit"></router-link>
            <router-link :to="{ name: 'TutorialDelete', params: {id: tutorialItem.id} }"><input type="button" class="Delete" value="Delete"></router-link>
            
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</template>
<script>
import tutorials from '@/data.js';
export default {
  name: 'Home',
  data() {
    return {
      tutorials
    }
  },
  created() {
    console.log("tutorials", this.tutorials)
  }
};
</script>

