<template>
  <div class="TutorialDelete">
    <h2>Delete Tutorial <mark>{{ deleteTutorialData.name }}</mark></h2>
    <p>Are you sure!</p>
    <form class="TutorialForm" action="">
      <div class="FormButtons">
        <input class="Button DangerButton" type="button" value="Delete" @click.prevent="DeletTutorial">
        <input class="Button" type="button" value="Cancel" @click.prevent="BacktoHome">
      </div>
    </form>
  </div>
</template>

<script>
import tutorials from '@/data.js';
export default {
  name: 'TutorialDelete',
  data() {
    return {
    tutorials,
      deleteTutorialData: {

      },
      id : '',
      index: ''
    }
  },
  created() {
    console.log(tutorials);
    this.id = this.$route.params.id
    console.log(this.id, "id")
    this.index = this.tutorials.findIndex(t => t.id == this.id)
    console.log(this.index, "index")
    this.deleteTutorialData = this.tutorials[this.index]
  },
  methods: {
    BacktoHome() {
      this.$router.push({path: '/'})
    },
    DeletTutorial() {
      this.deleteTutorialData = this.tutorials.splice([this.index], 1)
      this.$router.push('/')
    }
  }
}
</script>

