<template>
  <div class="TutorialEdit">
    <h2>Edit Tutorial <mark>{{editInput.name}}</mark></h2>
    <form class="TutorialForm" action="">
      <div class="InputField">
        <label for="tutorialname">Name</label>
        <input type="text" name="tutorialname" required v-model="editInput.name">
      </div>
      <div class="InputField">
        <label for="tutorialdescription">Description</label>
        <textarea name="tutorialdescription" rows="10" required v-model="editInput.description"></textarea>
      </div>
      <div class="InputField">
        <label for="tutorialprice">Price in Rs(numbers only)</label>
        <input type="number" name="tutorialprice" required v-model="editInput.price">
      </div>
      <div class="FormButtons">
        <input class="Button PrimaryButton" type="button" value="Update Tutorial" @click.prevent="UpdateTutorial">
        <input class="Button" type="button" value="Cancel" @click.prevent="BacktoHome">
      </div>
    </form>
  </div>
</template>

<script>
import tutorials from '@/data.js';
export default {
  name: 'TutorialEdit',
  data() {
    return {
      tutorials,
      editInput: {
        // name: '',
        // description: '',
        // price: ''
      },
      id: '',
      index: ''
      // this.$route.params.tutorial_id
    }
  },
  created() {
    this.id = this.$route.params.id
    console.log(this.id, "id")
    this.index = this.tutorials.findIndex(t => t.id == this.id)
    console.log(this.index, "index")
    this.editInput = this.tutorials[this.index]
  },
  methods: {
    BacktoHome(){
      this.$router.push({ path: '/' })
    },
    UpdateTutorial() {
      // this.editInput = this.tutorials[this.index]
      // console.log(this.editInput, "edited")
      this.$router.push('/')
    }
  }
}
</script>

