<template>
  <div id="app">
    <h1>Tutorials Provided by Us</h1>
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
  data() {
    return {
      
    }
  }
}
</script>

<style lang="scss">
  @import './assets/scss/styles.scss';
</style>
